<template>
  <div class="temp-display">
    <h1>Recent Temperatures</h1>
    <div v-for="temp in temps" :key="temp.timestamp">
      <TempReading v-bind:temp="temp"/>
    </div>
  </div>
</template>

<script>
import TempReading from './TempReading'
import axios from 'axios'
import SensorProfile from './SensorProfile'

export default {
  name: "RecentTemps",
  components: {
      TempReading
  },
  data () {
      return {
        temps: []
      }
  },
  async created () {
    const allTempsRes = await axios.get(SensorProfile.PICO_URL_CLOUD + 'temperature_store/temperatures');
    const violatedTempsRes = await axios.get(SensorProfile.PICO_URL_CLOUD + 'temperature_store/threshold_violations');
    const allTemps = allTempsRes.data;
    const violatedTemps = violatedTempsRes.data;
    for (let i = 0; i < allTemps.length; i++) {
      allTemps[i].isViolation = false;
      allTemps[i].temp = allTemps[i].tempF;
      for (let j = 0; j < violatedTemps.length; j++) {
        if (allTemps[i].timestamp === violatedTemps[j].timestamp) {
          allTemps[i].isViolation = true;
          break
        }
      }
    }
    this.temps = allTemps.reverse();
    this.$emit('latest-temp', allTemps[0].temp)
  }
}
</script>

<style scoped>
  .temp-display {
    margin: 0 auto;
    max-width: 700px;
    border: 1px solid lightblue;
  }
</style>
