<template>
    <div>
        <h1>Sensor Profile</h1>
        <form v-on:submit="submitPushed">
            <label for="sensorName">Sensor Name: </label>
            <input v-model="name" type="text" id="sensorName">

            <label for="sensorLocation">Sensor Location:</label>
            <input v-model="location" type="text" id="sensorLocation">

            <label for="threshold">Temperature Threshold: </label>
            <input v-model="threshold" type="text" id="threshold">

            <label for="sms">Number for SMS Notification: </label>
            <input v-model="sms" type="tel" id="sms">

            <label for="submit-button">Update Sensor Profile To These Values: </label>
            <input id="submit-button" type="submit" name="Update">
        </form>
    </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
const URL = 'http://localhost:8080/';
const MANAGER_PICO = 'EpywJvM7MBp2GrgSSgwn66';
const PICO = '44Mu8m1UnXWe2AdcenqBzY';
const PICO_URL_CLOUD = URL + "sky/cloud/" + PICO +"/";
const PICO_URL_EVENT = URL + "sky/event/" + PICO +"/5/";
const MANAGER_PICO_CLOUD = URL + "sky/cloud/" + MANAGER_PICO +"/";
const MANAGER_PICO_EVENT = URL + "sky/event/" + MANAGER_PICO +"/5/";

  export default {
    name: "SensorProfile",
    PICO_URL_CLOUD: PICO_URL_CLOUD,
    PICO_URL_EVENT: PICO_URL_EVENT,
    MANAGER_PICO_CLOUD: MANAGER_PICO_CLOUD,
    MANAGER_PICO_EVENT: MANAGER_PICO_EVENT,
    data () {
      return {
        name: '',
        location: '',
        threshold: 0.0,
        sms: '(000) 000-0000'
      }
    },
    async created () {
      const res = await axios.get(PICO_URL_CLOUD + 'sensor_profile/profile');
      const currentProfile = res.data;
      this.name = currentProfile.sensorName;
      this.location = currentProfile.sensorLocation;
      this.threshold = currentProfile.threshold;
      this.sms = currentProfile.smsNumber
    },
    methods: {
      submitPushed (e) {
        e.preventDefault();
        axios.post(PICO_URL_EVENT + 'sensor/profile_updated', {
          "sensorName": this.name,
          "sensorLocation": this.location,
          "threshold": this.threshold,
          "smsNumber": this.sms
        })
          .then(() => (Swal.fire('Profile Updated')))
          .catch(err => Swal.fire(err))
      }
    }
  }

</script>

<style scoped>
    div {
        margin: 0 auto;
        max-width: 700px;
        border: 1px solid lightblue;
        padding-bottom: 20px;
    }
    form {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 10px;

        width: 90%;
        margin: 0 auto;
    }
    label, input {
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
    }
</style>
