<template>
    <div class="temp-reading" v-bind:class="{'is-violation':temp.isViolation}">
        <p>Time: {{temp.timestamp}}</p>
        <p>Temperature Reading: {{temp.temp}}</p>
    </div>
</template>

<script>
export default {
  name: "TempReading",
  props: ['temp']
}
</script>

<style scoped>
    .temp-reading {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 700px;
        background: #f4f4f4;
        padding: 5px;
        border-bottom: 1px #ccc dotted;
        margin: 0 auto;
    }
    .is-violation {
        background: lightcoral;
    }
</style>
