<template>
    <div id="wrapper">
        <h1>Testing Tool</h1>
        <form v-on:submit="trigger">
            <label for="submit-button">Trigger Some Tests: </label>
            <input id="submit-button" type="submit" name="Trigger">
        </form>
        <div v-for="log in testLogs" :key="log.testHeader">
            <hr>
            <h4>Description: {{log.testHeader}}</h4>
                <p>Time: {{log.timestamp}}<br>
                Out: {{log.logContent}}</p>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import SensorProfile from './SensorProfile'

  export default {
    name: "TestingTool",
    data () {
      return {
        testLogs: []
      }
    },
    methods: {
      trigger: async function (e) {
        e.preventDefault();
        let allSensors = await axios.get(SensorProfile.MANAGER_PICO_CLOUD + 'manage_sensors/sensors');
        this.testLogs.push({
          "timestamp": new Date().toString(),
          "testHeader": 'Show the status of the starting list...',
          "logContent": JSON.stringify(allSensors.data)
        });
        // now what other tests will we do?
        await axios.post(SensorProfile.MANAGER_PICO_EVENT + 'sensor/new_sensor?sensor_id=Test-1', {});
        await axios.post(SensorProfile.MANAGER_PICO_EVENT + 'sensor/new_sensor?sensor_id=Test-2', {});

        allSensors = await axios.get(SensorProfile.MANAGER_PICO_CLOUD + 'manage_sensors/sensors');
        this.testLogs.push({
          "timestamp": new Date().toString(),
          "testHeader": 'Two more have been created and show that they appear in the list...',
          "logContent": JSON.stringify(allSensors.data)
        });

        // delete the 1st of the two created
        await axios.post(SensorProfile.MANAGER_PICO_EVENT + 'sensor/unneeded_sensor?sensor_id=Test-1', {});

        allSensors = await axios.get(SensorProfile.MANAGER_PICO_CLOUD + 'manage_sensors/sensors');
        this.testLogs.push({
          "timestamp": new Date().toString(),
          "testHeader": 'Sensor Test-1 Has been removed...',
          "logContent": JSON.stringify(allSensors.data)
        });

        // delete the other one
        // delete the 1st of the two created
        await axios.post(SensorProfile.MANAGER_PICO_EVENT + 'sensor/unneeded_sensor?sensor_id=Test-2', {});

        allSensors = await axios.get(SensorProfile.MANAGER_PICO_CLOUD + 'manage_sensors/sensors');
        this.testLogs.push({
          "timestamp": new Date().toString(),
          "testHeader": 'Sensor Test-2 Has been removed...',
          "logContent": JSON.stringify(allSensors.data)
        })

        // show that new temps are coming in for the real one that is hooked up

      }
    }
  }
</script>

<style scoped>
    #wrapper {
        margin: 0 auto;
        max-width: 700px;
        border: 1px solid lightblue;
        padding-bottom: 20px;
    }
    p {
        text-align: left;
        margin-left: 5px;
    }

</style>
