<template>
  <div id="app">
    <h1 class="current-temp">Current Temperature: {{temp}}</h1>
    <TestingTool />
    <SensorProfile />
    <RecentTemps v-on:latest-temp="updateCurrent"/>
  </div>
</template>

<script>
import SensorProfile from './components/SensorProfile'
import RecentTemps from './components/RecentTemps'
import TestingTool from './components/TestingTool'

export default {
  name: 'app',
  components: {
    TestingTool,
    SensorProfile,
    RecentTemps
  },
  data () {
      return {
          temp: '...'
      }
  },
  methods: {
    updateCurrent (temp) {
      this.temp = temp
    }
  }
}
</script>

<style>
  .current-temp {
    margin: 0 auto;
    max-width: 700px;
    border: 1px solid lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
